<p contenteditable ng-model="data" ng-style="style" style="color:#ff7e3d;border-left:4px solid #ff7e3d;font-size:23px;margin:0px;overflow:hidden;padding-left:5px;">美腻的标题</p>
<div class="clearfix" style="margin-top:16.6px;color:#b2b2b2;">
    <label  style="float:left;font-weight:normal;font-size:13px;">文章来自：<font contenteditable ng-model="source" style="color:#ff791f;">小米社区</font></label>
    <label contenteditable ng-model="date" style="float:right;font-weight:normal;font-size:13px;">2015.8.10</label>
</div>
<!--ff7e3d-->